@{
    ViewData["Title"] = "Create new page";
}

<div class="text-center">
    <h1 class="display-4">Create new page</h1>

    <form method="POST">
        <div class="form-group form-check">
            <input type="text" class="form-check-input" id="url" name="url">
            <label class="form-check-label" for="url">Check me out</label>
        </div>
        <div class="form-group form-check">
            <input type="text" class="form-check-input" id="title" name="title">
            <label class="form-check-label" for="title">Check me out</label>
        </div>
        <div class="form-group form-check">
            <textarea class="form-check-input" id="text" name="text"></textarea>
            <label class="form-check-label" for="text">Check me out</label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
